.top {
    color: white;
    text-align: center;
    padding-top:75px;
    padding-bottom: 50px;
    background-image: url('/public/Photo-main.jpg') ;
    background-size: cover;       
    background-repeat: no-repeat; 
    background-position: center;
    margin-top: 100px;
    z-index: 5;
    width: 100%;
    margin: 0 auto;
  
}

.title {
    padding-top: 75px;
    padding-bottom: 50px;
    font-size: 55px;
    font-weight: 700;
}


.formSearch {
    display: flex;
    justify-content: center;
    margin: 0 auto;

    gap: 25px;
    background-color: gray;
    opacity: 0.8;
    width: 750px;
    padding: 15px;
    padding-top: 25px;
    border: #9e9b9b;
    border-radius: 5px;

}

.listInput {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.inputPoint {
    border: none;
    border: #f4f1f1 solid 0.7px;
    border-radius: 7px;
    background-color: gray;
    height: 30px;
    min-width: 180px;

}

::placeholder {
    color: #f4f1f1;
    padding-left: 5px;
}

.inputPoint:hover {
    background-color: cadetblue;

}

.dates {
    color: #f4f1f1;
    padding-left: 5px;

}

.topButton {
    background-color: #a2e1f5;
    color: #151515;
    border: #8b8fe0 solid 0.7px;
    border-radius: 7px;
    padding: 8px;
    padding-bottom: 10px;
    min-width: 180px;
    height: 34px;
    // display: inline-block;

    font-size: 18px;
    font-weight: 600;
    text-align: center;
}

.topButton:hover {
    scale: 1.1;
    color: white;
    background-color: cadetblue;
    box-shadow: 1px 2px 3px;
}

.listInputMembers:hover::after {
    content: attr(data-description);
    position: absolute;
    top: 90%;
    background-color: rgb(95, 85, 239);
    padding: 5px;
}
