.add-btn {
    background-color: #74de77;
    border-radius: 5px;
    border: black 1px solid;
    font-size: 16px;
    height: 38px;
}

.container {
    padding-bottom: 18px;
    padding-top: 8px;
    display: flex;
    gap: 7px;
    margin: 0 auto;

}

.form-input {
    width: 220px;
}