.openModalButton{
    padding-left: 7px;
    margin-top: 15px;
    margin-left: 18px;
    width: 90px;
    height: 38px;
    background-color: rgb(95, 170, 175);
    border: black 1px solid;
    border-radius: 5px;
    font-size: smaller;
    text-align: center;
}